# These are applied for all environments as default, update these appropriately
# Create a .env.local file and update these values with your local connection string and secret keys
CLIENT_HOST=http://localhost:3000
MONGODB_URI=mongodb://localhost:27017/arbor
PYTHON_HTTP_HOST=https://audio.0xen.dev
WALLETCONNECT_ID=
BLOCKNATIVE_KEY=
NFT_STORAGE_KEY=
COVALENT_API_KEY=
ALCHEMY_POLYGON_KEY=
REDIS_HOST=
REDIS_AUTH=
