# These are applied for all environments as default, update these appropriately
# Create a .env.local file and update these values with your local connection string and secret keys
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_WALLETCONNECT_ID=
NEXT_PUBLIC_INFURA_API_KEY=