@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--min-page-height: calc(100vh - (64px + 58px));
	--error: #d10000;
	--warning: #fe922f;
	--info: #6bc1ff;
	--success: #23af00;
	--arbor-black: #1e1e1e;
	--arbor-white: #f1f1f1;
	--arbor-gray: #374151;
	--arbor-gray-light: #87a1ca;
	--arbor-red: #c9184a;
	--arbor-red-hover: #710c29;
	--arbor-pink: #e74b7a;
	--arbor-pink-hover: #953250;
	--arbor-light-peach: #eea6a9;
	--arbor-peach: #fb8c92;
	--arbor-peach-hover: #c56e72;
	--arbor-light-purple: #d5b6ff;
	--arbor-purple: #9f86c0;
	--arbor-purple-hover: #58496b;
}

@media (prefers-color-scheme: dark) {
	:root {
		--min-page-height: calc(100vh - (64px + 58px));
		--error: #d10000;
		--warning: #fe922f;
		--info: #6bc1ff;
		--success: #23af00;
		--arbor-black: #1e1e1e;
		--arbor-white: #f1f1f1;
		--arbor-gray: #374151;
		--arbor-gray-light: #87a1ca;
		--arbor-red: #c9184a;
		--arbor-red-hover: #710c29;
		--arbor-pink: #e74b7a;
		--arbor-pink-hover: #953250;
		--arbor-light-peach: #fdefe2;
		--arbor-peach: #ffd6d8;
		--arbor-peach-hover: #f8b195;
		--arbor-light-purple: #d8c5f2;
		--arbor-purple: #9f86c0;
		--arbor-purple-hover: #58496b;
	}
}

body {
	color: var(--arbor-black);
	background: var(--arbor-white);
	font-family: var(--font-kanit);
	font-weight: 300;
}

.separator-sm::after {
	content: '';
	display: block;
	margin: 1rem auto;
	height: 4px;
	width: 40px;
	background-color: var(--arbor-pink);
}

.separator-md::after {
	content: '';
	display: block;
	margin: 1rem auto;
	height: 8px;
	width: 100px;
	background-color: var(--arbor-pink);
}

.separator-lg::after {
	content: '';
	display: block;
	margin: 1rem auto;
	height: 8px;
	width: 180px;
	background-color: var(--arbor-pink);
}

.bg-multi {
	background: linear-gradient(94.22deg, #e74b7a 9.36%, #ffd6d8 33.65%, #d8c5f2 65.94%, #9f86c0 89.96%);
}

/* h2 {
	font-weight: 800;
	font-style: italic;
} */
